<template>
    <div class="row mt-5">
        <div class="col-12">
            <div class="table-responsive">
                <form action="">
                    <div class="row">
                        <div class="col-md-4" style="position: absolute; top: -40px; left: 0px;">
                            <div class="form-group">
                                <label for="year">Yıla Git:</label>
                                <select @change="selectYear($event)" name="" id="year"
                                class="form-control custom-select">
                                <option v-for="year in years" v-bind:value="year">{{year}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4" style="position: absolute; top: -30px; left: 65% !important;">
                        <div class="form-group">
                            <span>Ara: </span>
                            <input type="text" @keyup="searchTable()" v-model="searchQuery" class="form-control">
                        </div>
                    </div>
                </div>
            </form>
            <table v-if="!wait" id="customers-table" class="mt-5 table table-striped table-bordered text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>İşlemler</th>
                        <th class="px-5">Ad Soyad</th>
                        <th class="px-5">Plaka</th>
                        <th>Model</th>
                        <th>Giriş Tarihi</th>
                        <th>Çıkış Tarihi</th>
                        <th>Ücret</th>
                        <th>Telefon</th>
                        <th>Ocak</th>
                        <th>Şubat</th>
                        <th>Mart</th>
                        <th>Nisan</th>
                        <th>Mayıs</th>
                        <th>Haziran</th>
                        <th>Temmuz</th>
                        <th>Ağustos</th>
                        <th>Eylül</th>
                        <th>Ekim</th>
                        <th>Kasım</th>
                        <th>Aralık</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(customer, index) in customers">
                        <td>
                            <a v-if="!customer.check_out" href="#" @click="checkOut(customer)" class="badge badge-warning">Çıkış Yap</a>
                            <a href="#" @click="sendSMS(customer)" class="badge badge-primary cogs">SMS Gönder</a>
                            <a href="#" @click="deleteCustomer(customer)" class="badge badge-danger cogs">Sil</a>
                        </td>
                        <td class="searchable" @click="goCustomer(customer.id)">{{customer.name}}</td>
                        <td class="searchable">{{customer.plate}}</td>
                        <td>{{customer.model}}</td>
                        <td>{{customer.check_in}}</td>
                        <td>{{customer.check_out}}</td>
                        <td><b>{{customer.price}}</b></td>
                        <td class="searchable" @click="saveTel(customer.id, customer.tel, index)">{{customer.tel}}</td>
                        <td @click="addPaymentMonth(customer,index+1, payment)"
                        v-for="(payment, index) in customer.yearpayments"
                        v-bind:class="textStyle(customer.price, payment, index, customer.check_in)" v-bind:id="customer.id+'-'+index" v-html="'<b>'+payment+'</b>'">

                    </td>
                </tr>
                <tr style="height: 75px;">
                    <td>
                        <a @click="newCustomerSave()" href="#" class="badge badge-success">Kaydet</a>
                    </td>
                    <td @click="newName()" class="searchable">
                        {{newCustomer.name}}
                    </td>
                    <td class="searchable" @click="newPlate()">
                        {{newCustomer.plate}}
                    </td>
                    <td @click="newModel()">
                        {{newCustomer.model}}
                    </td>
                    <td @click="newCheckIn()">
                        {{newCustomer.check_in_formatted}}
                    </td>
                    <td @click="newCheckOut()">
                        {{newCustomer.check_out_formatted}}
                    </td>
                    <td @click="newPrice()">
                        {{newCustomer.price}}
                    </td>
                    <td @click="newTel()" class="searchable">
                        {{newCustomer.tel}}
                    </td>
                    <td v-for="(newPayment, index) in newCustomer.yearpayments"
                    @click="addPaymentMonth(newCustomer,index+1, 0)"
                    v-bind:class="textStyle(newCustomer.price, newPayment, index, newCustomer.check_in)"
                    v-html="newPayment"
                    >
                    {{newPayment}}
                </td>
            </tr>
        </tbody>
    </table>
    <table v-if="wait" class="mt-5 table text-center">
        <thead style="background-color: #343a40; color:white; font-weight: 600;">
            <tr>
                <td>Yükleniyor...</td>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td><i class="fas fa-circle-notch fa-spin fa-5x"></i></td>
            </tr>
        </tbody>
    </table>
</div>
</div>

</div>
</template>

<script>
    import axios from 'axios';
    import Swal from 'sweetalert2';
    import bootstrap from 'bootstrap';
    import $ from 'jquery';
    export default {
        data() {
            return {
                years: {},
                year: 2020,
                wait: false,
                customers: {},
                searchQuery: '',
                newCustomer: {
                    id: null,
                    name: null,
                    tel: null,
                    plate: null,
                    check_in: null,
                    price: null,
                    model: null,
                    check_in_formatted: null,
                    yearpayments: [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    null
                    ]
                },
            }
        },
        created() {
            let v = this;
            this.getYear(this.year);
            this.yearSelector();
        },
        methods: {
            goCustomer(id){
                window.location = '/yonetim/customer/'+id;
            },

            saveTel(id, tel, index){
                const v = this;
                swal.fire({
                    title: 'Telefon Güncelleme!',
                    text: 'Müşterinin Telefonunu Girin',
                    input: 'text',
                    inputValue: tel,
                    confirmButtonText: 'Onayla',
                    showCancelButton: true,
                    cancelButtonText: 'İptal'
                }).then((response) => {
                    if(response.value){
                        if(response.value !== tel){
                            let new_tel = response.value;
                            axios.post('/api/update_tel', {
                                id: id,
                                tel: response.value
                            }).then((response) => {
                                v.customers[index].tel = new_tel;
                                v.$forceUpdate();
                                swal.fire({
                                    title: 'İşlem Başarılı',
                                    text: v.customers[index].name + ' adlı müşterinin telefonu güncellendi!',
                                    confirmButtonText: 'Tamam',
                                    icon: 'success',
                                });  
                            });
                        }
                    }
                });

            },

            yearSelector() {
                let v = this;
                axios.post('/api/get_years', {}).then((response) => {
                    v.years = response.data.years;
                });
            },
            selectYear(event) {
                this.year = event.target.value;
                this.getYear(this.year);
            },
            getYear(year) {
                let v = this;
                this.wait = true;
                axios.post('/api/get_data', {
                    'year': year
                }).then((response) => {
                    v.customers = response.data.customers;
                    v.wait = false;
                });
            },

            textStyle(price, payment, index, check_in) {
                if(check_in){
                    var date = new Date();
                    var month = date.getMonth();
                    var year = date.getFullYear();
                    var checkinYear = check_in[check_in.length-4] + check_in[check_in.length-3] + check_in[check_in.length-2] + check_in[check_in.length-1];
                    if(price > payment){
                        if(this.year < year){
                            return "text-danger";
                        } else {
                            if(index > month){
                                return 'text-dark';
                            }
                            if (index === month){
                                var checkDay = check_in[0] + check_in[1];
                                var today = date.getDate();
                                if(checkDay < today){
                                    return 'text-danger'
                                } else if (checkDay == today){
                                    return 'text-warning';
                                }
                                return 'text-dark';
                            }
                            return 'text-danger';
                        }

                    } else if (payment === 'X') {
                        return 'text-primary';
                    }
                    else{
                        return 'text-success';
                    }
                }

            },

            searchTable() {
                let table = document.getElementById("customers-table");
                let tr = table.getElementsByTagName("tr");
                let text = this.searchQuery;
                let i = 1;
                while (i < tr.length) {
                    let td = tr[i].getElementsByTagName("td")[1];
                    let td2 = tr[i].getElementsByTagName("td")[2];
                    let txtValue = td.textContent || td.innerText;
                    let txtValue2 = td2.textContent || td2.innerText;
                    if (txtValue.toUpperCase().indexOf(text.toUpperCase()) > -1 || txtValue2.toUpperCase().indexOf(text.toUpperCase()) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                    i++;
                }
            },

            addPaymentMonth(customer, month, amount) {
                if (amount !== 'X') {
                    if(customer.id !== null){
                        let month_array = ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'];
                        let v = this;
                        swal.fire({
                            title: month_array[month - 1] + ' Ayının Yeni Değerini Giriniz..',
                            input: 'number',
                            inputValue: amount,
                            confirmButtonText: 'Tamam',
                            showCancelButton: true,
                            cancelButtonText: 'İptal'
                        }).then((response) => {
                            if (response.value) {
                                var value = parseInt(response.value);
                                axios.post('/api/add_payment', {
                                    customer_id: customer.id,
                                    amount: response.value,
                                    month: month,
                                    year: v.year
                                }).then((response) => {
                                    let the_month = month-1;
                                    v.customers[v.customers.indexOf(customer)].yearpayments[month - 1] = '<i class="fas fa-circle-notch fa-spin text-primary"></i>';
                                    v.$forceUpdate();
                                    v.customers[v.customers.indexOf(customer)].yearpayments[month - 1] = value;
                                    v.$forceUpdate();
                                });
                            }
                        });
                    } else {
                        let v = this;
                        let month_array = ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'];
                        swal.fire({
                            title: month_array[month - 1] + ' Ayının Yeni Değerini Giriniz..',
                            input: 'number',
                            inputValue: amount,
                            confirmButtonText: 'Tamam',
                            showCancelButton: true,
                            cancelButtonText: 'İptal'
                        }).then((response) => {
                            if(response.value){
                                v.newCustomer.yearpayments[month - 1] = parseInt(response.value);
                                v.$forceUpdate();
                            }
                        });
                    }
                }
            },

            deleteCustomer(customer){
                let v = this;
                swal.fire({
                    title: 'Dikkat!',
                    text: customer.name + ' adlı müşterinin TÜM verilerini silmek istediğinize emin misiniz?',
                    confirmButtonText: 'SİL',
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'İptal'
                }).then((response) => {
                    if(response.value){
                        axios.post('/api/delete_customer', {
                            id: customer.id,
                        }).then((response) => {
                            swal.fire({
                                title: 'İşlem Başarılı',
                                text: customer.name + ' adlı müşterinin tüm verileri silindi!',
                                confirmButtonText: 'Tamam',
                                icon: 'success',
                            });
                            v.getYear(v.year);
                        });
                    }
                });
            },
            
            checkOut(customer){
                let v = this;
                swal.fire({
                    title: 'Dikkat!',
                    text: customer.name + ' adlı müşterinin aracının çıktığını onaylıyor musunuz?',
                    input: 'text',
                    inputPlaceholder: 'Tarihi GG-AA-YYYY şeklinde giriniz.',
                    confirmButtonText: 'Onayla',
                    icon: 'warning',
                    showCancelButton: true,
                    cancelButtonText: 'İptal'
                }).then((response) => {
                    if(response.value){
                        axios.post('/api/check_out', {
                            id: customer.id,
                            date: response.value,
                        }).then((response) => {
                            swal.fire({
                                title: 'İşlem Başarılı',
                                text: customer.name + ' adlı müşterinin aracı sistem çıkış yaptı!',
                                confirmButtonText: 'Tamam',
                                icon: 'success',
                            });
                            v.getYear(v.year);
                        });
                    }
                });
            },

            newName(){
                let v = this;
                swal.fire({
                    title: 'Yeni Kayıt!',
                    text: 'Yeni Müşterinin Adını Girin',
                    input: 'text',
                    inputPlaceholder: 'Örn(İsim Soyisim)',
                    confirmButtonText: 'Onayla',
                    showCancelButton: true,
                    cancelButtonText: 'İptal'
                }).then((response) => {
                    if(response.value){
                        v.newCustomer.name = response.value;
                        v.$forceUpdate();
                    }
                });
            },

            newPlate(){
                let v = this;
                swal.fire({
                    title: 'Yeni Kayıt!',
                    text: 'Yeni Aracın Plakasını Girin',
                    input: 'text',
                    inputPlaceholder: 'Örn(15 AD 450)',
                    confirmButtonText: 'Onayla',
                    showCancelButton: true,
                    cancelButtonText: 'İptal'
                }).then((response) => {
                    if(response.value){
                        v.newCustomer.plate = response.value;
                        v.$forceUpdate();
                    }
                });
            },

            newModel(){
                let v = this;
                swal.fire({
                    title: 'Yeni Kayıt!',
                    text: 'Yeni Aracın Modelini Girin',
                    input: 'text',
                    inputPlaceholder: 'Örn(BMW)',
                    confirmButtonText: 'Onayla',
                    showCancelButton: true,
                    cancelButtonText: 'İptal'
                }).then((response) => {
                    if(response.value){
                        v.newCustomer.model = response.value;
                        v.$forceUpdate();
                    }
                });
            },

            newCheckIn(){
                let v = this;
                swal.fire({
                    title: 'Yeni Kayıt!',
                    text: 'Yeni Aracın Giriş Tarihini Girin',
                    input: 'text',
                    inputPlaceholder: 'GG-AA-YYYY Örn(31-12-2020)',
                    confirmButtonText: 'Onayla',
                    showCancelButton: true,
                    cancelButtonText: 'İptal'
                }).then((response) => {
                    if(response.value){
                        v.newCustomer.check_in = response.value;
                        axios.post('/api/make_date', {
                            date: response.value,
                        }).then((response) => {
                            v.newCustomer.check_in_formatted = response.data.date;
                            let i = 0;
                            let month = response.data.month - 1;
                            console.log(month);
                            while(i<month){
                                if(response.data.year === this.year){
                                    v.newCustomer.yearpayments[i] = 'X';
                                }
                                i++;
                                v.$forceUpdate();
                            }
                            while(i <= 12){
                                if(v.newCustomer.yearpayments[i] === 'X'){
                                 v.newCustomer.yearpayments[i] = null; 
                             }
                             i++;
                         }
                         v.$forceUpdate();
                     });
                        
                    }
                });
            },

            newCheckOut(){
                let v = this;
                swal.fire({
                    title: 'Yeni Kayıt!',
                    text: 'Yeni Aracın Çıkış Tarihini Girin',
                    input: 'text',
                    inputPlaceholder: 'Örn(02-08-2020)',
                    confirmButtonText: 'Onayla',
                    showCancelButton: true,
                    cancelButtonText: 'İptal'
                }).then((response) => {
                    if(response.value){
                        v.newCustomer.check_out = response.value;
                        axios.post('/api/make_date', {
                            date: response.value,
                        }).then((response) => {
                            v.newCustomer.check_out_formatted = response.data.date;
                            let i = 11;
                            let month = response.data.month - 1;
                            console.log(response);
                            if(response.data.year < this.year){
                                while (i >= 0){
                                    v.newCustomer.yearpayments[i] = 'X';
                                    v.$forceUpdate();
                                    i--;
                                }
                            } else {
                                while(i>month){
                                    console.log(response.data.year);
                                    v.newCustomer.yearpayments[i] = 'X';
                                    i--;
                                    v.$forceUpdate();
                                }
                            }

                            v.$forceUpdate();
                        });

                    }
                });
            },

            newPrice(){
                let v = this;
                swal.fire({
                    title: 'Yeni Kayıt!',
                    text: 'Yeni Müşterinin Ücretini Girin',
                    input: 'text',
                    inputPlaceholder: 'Örn(250)',
                    confirmButtonText: 'Onayla',
                    showCancelButton: true,
                    cancelButtonText: 'İptal'
                }).then((response) => {
                    if(response.value){
                        v.newCustomer.price = parseInt(response.value);
                        v.$forceUpdate();
                    }
                }); 
            },

            newTel(){
                let v = this;
                swal.fire({
                    title: 'Yeni Kayıt!',
                    text: 'Yeni Müşterinin Telefonunu Girin',
                    input: 'text',
                    inputPlaceholder: 'Örn(05306326311)',
                    confirmButtonText: 'Onayla',
                    showCancelButton: true,
                    cancelButtonText: 'İptal'
                }).then((response) => {
                    if(response.value){
                        v.newCustomer.tel = response.value;
                        v.$forceUpdate();

                    }
                });
            },

            newCustomerSave(){
                let v = this;
                let i = 0;
                while(i < 12){
                    if(v.newCustomer.yearpayments[i] === 'X'){
                        v.newCustomer.yearpayments[i] = null;
                    }
                    i++;
                }
                axios.post('/api/add_new_customer', {
                    customer: v.newCustomer,
                    year: v.year,
                }).then((response) => {
                    swal.fire({
                        title: 'İşlem Başarılı',
                        text: 'Yeni Müşteri Başarıyla Kaydedildi!',
                        confirmButtonText: 'Tamam',
                        icon: 'success',
                    });
                    v.getYear(v.year);
                    v.newCustomer = {
                        id: null,
                        name: null,
                        tel: null,
                        plate: null,
                        check_in: null,
                        price: null,
                        model: null,
                        check_in_formatted: null,
                        check_out: null,
                        check_out_formatted: null,
                        yearpayments: [
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null,
                        null
                        ]
                    };
                    v.yearSelector();
                    v.$forceUpdate();

                });
            },

            sendSMS(customer){
                swal.fire({
                    title: 'Göndermek İstediğniz Mesajı Giriniz.',
                    input: 'textarea',
                    inputValue: 'Sayın '+customer.name+', ',
                    confirmButtonText: 'Gönder',
                    showCancelButton: true,
                    cancelButtonText: 'İptal',
                }).then((res) => {
                    if(res.value){
                        axios.post('/api/send_sms', {
                            tel: customer.tel,
                            id: customer.id,
                            text: res.value,
                        }).then((response) => {
                            swal.fire({
                                title: 'İşlem Başarılı',
                                text: customer.name + ' adlı müşteriye mesaj gönderildi!',
                                confirmButtonText: 'Tamam',
                                icon: 'success',
                            });
                        });
                    }
                });

            }
        }

    }
</script>

<style lang="stylus" scoped>

</style>