<template>
    <div class="row">
        <div class="col-xl">
            <div class="row" id="portfolio">
                <div v-for="item in items" class="col-md-3">
                    <div class="card">
                        <a class="popup" v-bind:href="'/storage/'+item.src">
                            <img v-bind:src="'/storage/'+item.src" class="card-img-top" alt="Placeholder">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">Resmin Adı: <span>{{item.name}}</span></h5>
                            <p class="card-text">
                                Resmin Sırası: <input @change="saveOrder(item.img_order, item.id)" type="text"
                                                      v-model="item.img_order"
                                                      style="height: 32px; width: 50px; float: right;"
                                                      class="form-control order_inputs"/>
                            </p>
                            <a href="#" @click="editImg(item.id, item.name)"
                               class="btn btn-primary img_edit">Düzenle</a>
                            <a class="btn btn-danger" @click="deleteImg(item.id)" href="#"><i
                                    class="fa fa-times"></i> Sil</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <vue-dropzone ref="myVueDropzone"
                                  class="dropzone"
                                  id="dropzone"
                                  :options="dropzoneOptions"
                                  @vdropzone-success="getItems"></vue-dropzone>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import vue2Dropzone from 'vue2-dropzone'

    export default {
        components: {
            vueDropzone: vue2Dropzone
        },
        name: "gallery",
        data() {
            return {
                items: [],
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                dropzoneOptions: {
                    headers: {
                        "X-CSRF-TOKEN": document.head.querySelector("[name=csrf-token]").content
                    },
                    url: '/api/upload',
                    paramName: 'file',
                    maxFilesize: 10, // MB
                    maxFiles: 20,
                    acceptedFiles: ".jpeg,.jpg,.png,.gif",
                    dictDefaultMessage: "Resimleri Yüklemek İçin Buraya Sürükleyin Ya Da Bu Alana Tıklayın",
                }
            }
        },
        created() {
            this.getItems();
        },
        methods: {
            getItems() {
                const self = this;
                axios.post('/api/get-gallery').then(
                    (response) => {
                        self.items = response.data.images;
                        self.$forceUpdate();
                    }
                )
            },

            deleteImg(img_id) {
                const self = this;
                axios.post('/api/delete_img', {
                    img_id: img_id
                }).then((response) => {
                    self.getItems();
                    self.$forceUpdate();
                    swal.fire({
                        title: 'İşlem Başarılı!',
                        text: 'Talep Ettiğiniz Resim Silindi!',
                        confirmButtonText: 'Tamam',
                        icon: 'success',
                    });
                })
            },

            editImg(img_id, name) {
                const self = this;
                swal.fire({
                    title: 'Resmin Adını Giriniz',
                    input: 'text',
                    inputPlaceholder: 'Örnek: Otoparkın Geniş Görüntüsü',
                    inputValue: name,
                    confirmButtonText: 'Tamam',
                    icon: 'info',
                    showCancelButton: true,
                    cancelButtonText: 'İptal',
                }).then((response) => {
                    if (response.value) {
                        axios.post('/api/change_img_name', {
                            'img_id': img_id,
                            'name': response.value,
                        }).then((result) => {
                            self.getItems();
                            self.$forceUpdate();
                            swal.fire({
                                title: 'İşlem Başarılı',
                                text: 'Resmin Adı Başarıyla Kaydedildi!',
                                confirmButtonText: 'Tamam',
                                icon: 'success',
                            });
                        });
                    }
                })
            },

            saveOrder(order, id) {
                const self = this;
                axios.post('/api/img_order_save', {
                    order: order,
                    id: id,
                }).then((response) => {
                    self.getItems();
                    self.$forceUpdate();
                    swal.fire({
                        title: 'İşlem Başarılı!',
                        text: 'Sıralama Başarıyla Kaydedildi!',
                        confirmButtonText: 'Tamam',
                        icon: 'success',
                    });
                });
            }
        }
    }
</script>

<style scoped>
    button {
        z-index: 2;
    }

    .card-img-top {
        height: 12rem;
    }
</style>