<template>
    <div class="card-body">
        <h4 class="card-title">Hizmet Ayarları
        </h4>
        <div class="row">
            <div v-for="service in services" class="col-md-4">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Hizmet Başlığı:</label>
                            <input type="text" class="form-control" v-model="service.title">
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Hizmet Açıklama:</label>
                                    <textarea v-model="service.content" class="form-control" rows="5" type="text"
                                              ></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="button" @click="editService(service.id, service.title, service.content)"
                                class="btn btn-primary"><i class="fa fa-save mr-1"></i> Kaydet</button>
                        <button @click="deleteService(service.id)" class="btn btn-danger" type="button"><i
                                class="fa fa-times"></i> Sil</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-secondary">
                    <div class="card-body">
                        <div class="form-group">
                            <label >Yeni Hizmet Başlığı:</label>
                            <input type="text" v-model="newService.title" class="form-control" name="service_title[]">
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Yeni Hizmet Açıklama:</label>
                                    <textarea class="form-control" rows="5" type="text" name="service_content[]"
                                              v-model="newService.content"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="button" @click="saveService"
                           class="btn btn-success"><i class="fa fa-save mr-1"></i> Kaydet</button>
                        <button @click="clearNewService()" class="btn btn-danger" type="button"><i
                                class="fa fa-trash mr-1"></i> Temizle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "services",
        data() {
            return {
                services: [],
                newService: {
                    title: '',
                    content: '',
                }
            }
        },
        created() {
            this.getServices();
        },
        methods: {
            getServices() {
                const self = this;
                axios.post('/api/get-services', {}).then((response) => {
                    self.services = response.data;
                    self.$forceUpdate();
                });
            },

            clearNewService(){
                this.newService.title = '';
                this.newService.content = '';
            },

            saveService(){
                const self = this;
                axios.post('/api/add-service', {
                    service_title: self.newService.title,
                    service_content: self.newService.content
                }).then((response) => {
                    self.getServices();
                    self.clearNewService();
                    self.$forceUpdate();
                    swal.fire({
                        title: 'İşlem Başarılı',
                        text: 'Hizmet Başarıyla Eklendi!',
                        confirmButtonText: 'Tamam',
                        icon: 'success',
                    });
                });
            },

            editService(id, title, content){
                const self = this;
                axios.post('/api/edit-service', {
                    id: id,
                    service_title: title,
                    service_content: content
                }).then((response) => {
                    self.getServices();
                    self.$forceUpdate();
                    swal.fire({
                        title: 'İşlem Başarılı',
                        text: 'Hizmet Başarıyla Düzenlendi!',
                        confirmButtonText: 'Tamam',
                        icon: 'success',
                    });
                });
            },

            deleteService(id){
                const self = this;
                swal.fire({
                    title: 'Dikkat',
                    text: 'Bu Hizmeti Kalıcı Olarak Silmek İStiyor Musunuz?',
                    confirmButtonText: 'Sil',
                    icon: 'warning',
                    cancelButtonText: 'İptal',
                    showCancelButton: true,
                }).then( (result) => {
                        if(result.value){
                            axios.post('/api/delete-service', {
                                id: id,
                            }).then((response) => {
                                self.getServices();
                                self.$forceUpdate();
                                swal.fire({
                                    title: 'İşlem Başarılı',
                                    text: 'Hizmet Başarıyla Silindi!',
                                    confirmButtonText: 'Tamam',
                                    icon: 'success',
                                });
                            });
                        }
                    });
            }
        }
    }
</script>

<style scoped>

</style>
